.track-image-component-container {
  position: relative;
  border-radius: 5%;
}

.track-image-component-image {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5%;
}

.track-image-component-image:before {
  padding-top: 100%;
  content: "";
  display: block;
}
