.track-box-small {
  width: 100%;
  min-width: 7rem;
  height: 7rem;
  border: 3px solid red;
}

.track-box-big {
  width: 100%;
  min-width: 10rem;
  height: 10rem;
  border: 3px solid red;
}

.home-top-col {
  border: 3px solid cyan;
}

.scroll-wrapper-tracks {
  width: 130rem;
}
