.track-row {
  width: 100%;
  height: 3.5rem;
  background: var(--main-container-color);
  padding: 0.25rem;
  border-radius: 0.2rem;
  margin-bottom: 0.2rem;
  --bs-gutter-x: 0rem;
}

.track-row:hover {
  background: var(--main-container-color-hover);
}

.track-row-img-container {
  width: 3rem;
  height: 3rem;
}

.track-title {
  margin-bottom: 0rem;
  font-weight: bold;
}

.track-author {
  margin-bottom: 0rem;
  font-size: 0.75rem;
  font-weight: lighter;
}
