* {
  /* outline: 1px solid red !important; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white !important;
}

main {
  padding-top: 2rem;
  background: linear-gradient(var(--blue), black);
  width: 100vw;
  height: 100vh;
  margin-bottom: 10%;
}

.general-container {
  background-color: var(--main-container-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.gradient-background {
  background: radial-gradient(
    var(--blue) 0%,
    var(--dark-blue) 40%,
    rgb(0, 0, 0) 90%
  );
}

.xl-separator {
  padding: 2rem;
}

.l-separator {
  padding: 1rem;
}

.m-separator {
  padding: 0.5rem;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none !important;
  color: white !important;
}
