.right-menu {
  position: fixed;
  right: -17rem;
  width: 20rem;
  min-height: 95vh;
  max-height: 95vh;
  padding: 1rem 0.2rem;
  background-color: var(--main-container-color);
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
}

.right-menu > div {
  margin-bottom: 1rem;
}

.right-menu-icon {
  width: 80%;
  height: 80%;
}

.right-menu:hover {
  right: 0;
}

.right-menu-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2.8rem;
  max-height: 2.8rem;
}

.right-menu-row:hover {
  background-color: var(--main-container-color-hover);
}

.no-hover:hover {
  background-color: var(--main-container-color) !important;
}

.right-menu-row > div {
  min-height: 2.8rem;
  max-height: 2.8rem;
}

.right-menu > div:first-child {
  margin: 0.5rem 0 5rem;
}

.right-menu-row {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 3rem;
  max-height: 3rem;
}

.right-menu-row:hover {
  background-color: var(--main-container-color-hover);
}

.right-menu-row > div {
  min-height: 2.8rem;
  max-height: 2.8rem;
  display: flex;
  align-items: center;
}

.right-menu-row > img {
  width: 2.8rem;
}

.right-menu-row > div:first-child {
  width: 2.8rem;
}

.right-menu-row > div:nth-child(2) {
  width: 17rem;
}

.right-menu-row-title {
  padding-left: 2rem;
}

.display-none {
  display: none;
}

.mobile-bottom-menu {
  position: fixed;
  top: 90%;
  width: 100%;
  height: 4rem;
  background-color: var(--main-container-color);
  display: flex;
}

.mobile-bottom-menu > div {
  width: 100%;
}

.mobile-bottom-menu-button {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
