.login-main {
  width: 100vw;
  height: 100vh;
}

.login-register {
  background-color: var(--main-container-color);
  width: 50%;
  height: 50%;
  padding: 0% 5% 2%;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 50%);
  border-radius: 1rem;
}

.registerForm {
  margin: 10%;
}

.img {
  margin: 2% 25%;
  min-width: 350px;
}
