.main-playbar-container {
  position: fixed;
  bottom: 100px;
  height: 5vh;
  width: 100vw;
  background-color: var(--main-container-color);
}

.thumbnail-container {
  margin-left: 2rem;
  padding: 0.3rem 0 0.3rem 0;
  height: 6vh;
}

.thumbnail {
  border: 1px solid var(--purple);
  height: 80%;
  width: 60%;
}

.title-album-container {
  padding: 0.4rem 0 0.3rem 0;
  height: 6vh;
}

.title {
  font-size: 12px;
}

.album {
  font-size: 10px;
}

.icon{
  height: 30px;
  width: 30px;
}