.profile-circle-background {
  position: relative;
  background-color: var(--purple);
  width: 90%;
  border-radius: 50%;
  padding: 0.14rem;
}

.profile-picture {
  position: absolute;
  border-radius: 50%;
  width: 90%;
  min-height: 90%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5%;
  left: 5%;
}

.profile-circle-background:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.profile-picture:before {
  position: absolute;
  top: 0;
}
