.profile-user-title {
  display: flex;
  align-items: center;
}

.profile-user-logout {
  justify-content: end;
}

.profile-logout-icon {
  width: 100px;
}

@media (max-width: 400px) {
  .profile-logout-icon {
    width: 50px;
  }
}

.profile-view-profile-image {
  height: fit-content;
}

.profile-input-row {
  min-height: 2rem;
}

.uploading-file {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
  padding: 1rem 0;
  position: relative;
  padding: 1rem;
}

.uploading-file > h3 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.uploading-file > button {
  width: 1%;
  display: flex;
  justify-content: center;
}

.upload-file-input {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

.upload-file-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: rgba(255, 255, 255, 0.377);
  border-width: 3px;
  border-style: dashed;
  border-radius: 1rem;
}

.upload-file-input:hover ~ .upload-file-container {
  border-color: white;
}
