.profile-user-title {
  display: flex;
  align-items: center;
}

.profile-user-logout {
  justify-content: end;
}

.profile-logout-icon {
  width: 100px;
}

@media (max-width: 400px) {
  .profile-logout-icon {
    width: 50px;
  }
}

.profile-view-profile-image {
  height: fit-content;
}

.profile-input-row {
  min-height: 2rem;
}
