.blockTrack-Container-small {
  width: 6.6rem;
  height: 6rem;
  align-items: center;
  border: 1px solid darkorchid;
}
.blockTrack-Container-big {
  width: 8.8rem;
  height: 8rem;
  align-items: center;
  border: 1px solid darkorchid;
}

.name-TrackBlock {
  text-align: center;
  /* margin-top: 0.7rem; */
}
.icon {
  color: red;
}
