.blockTrack-Container-small {
  width: 7.6rem;
  /* height: 6rem; */
  align-items: center;
  /* border: 1px solid darkorchid; */
}

.blockTrack-Container-big {
  width: 9.8rem;
  /* height: 8rem; */
  align-items: center;
  /* border: 1px solid darkorchid; */
}

.blockTrack-background {
  background: var(--main-container-color);
  padding: 0.3rem 0.3rem;
  border-radius: 2%;
}

.blockTrack-img-container {
  --bs-gutter-x: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.blockTrack-background:hover {
  background: var(--main-container-color-hover);
}

.blockTrack-title {
  margin-bottom: 0rem;
  font-weight: normal;
  font-size: 0.7rem;
  overflow: hidden;
}

.blockTrack-author {
  margin-bottom: 0rem;
  font-size: 0.5rem;
  font-weight: lighter;
  overflow: hidden;
}

.icon {
  color: red;
}
