.dialog-box {
  width: 150px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  color: #242424;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}
.dialog-text {
  padding-top: 15%;
  border-radius: 5px;
  width: 100%;
  height: 33.3%;
}
.dialog-text:hover {
  background-color: rgba(16, 16, 16, 0.803);
  color: white;
}
